:root{
    --color-neutral-0: #ffffff;
    --color-neutral-1: #ebebeb;
    --color-neutral-2: #f0e6c2;
    --color-neutral-3: #944231;
    --color-neutral-4: #6a7553;
    --color-neutral-5: #011810;
    --color-neutral-6: #183729;
    --color-neutral-7: #8ea588;
    --color-neutral-8: #3e564f;
    --color-neutral-9: #000000;

    --color-primary-1: #fff860;
    --color-primary-2: #343434;
    --color-primary-3: #e6e5e3;

    --color-secondary-1: #8ace00;
}
